/*  */
:root {
  --red: #e12a31;
  --gray: #515152;
  --blue: #0a66c2;
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}


body {
  font-family: "Montserrat-Regular";
  color: var(--gray);
  background-color: rgb(248, 248, 248);
  margin: 0;
  padding: 0;
}
.button {
  background-color: var(--red);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.button:hover {
  color: #fff;
}
.ebutton {
  background-color: #0cccee; /* Green */
  border: none;
  color: white;
  padding: 5px 50px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:20px;
}

.ebutton:hover {
  color: #e0ebec;
}
/* header */

.logo-sec img {
  padding-top: 32px;
  animation: bscale;
  animation-duration: 1s;
}
@keyframes bscale {
  from {height: 75px;}
  to {height: 92px;}
}
.shrink img {
  height: 58px;
  padding-top: 7px;
  animation: scale;
  animation-duration: 1s;
}
@keyframes scale {
  from {height: 75px;}
  to {height: 58px;}
}
.nav-item a:hover {
    color: var(--red);
    font-weight: blod;
}
.nav-item a:active {
    color: var(--red);
}
#text-right-dec {
  margin-top: 10px;
  text-decoration: none;
  color: var(--gray);
  font-weight: 400;
  padding-right: 10px;
  margin-right: 10px;
  height: 22px;
  border-right: 2px solid var(--red);
}
.nav_a_padding{
  padding-left: 14px !important;
    padding-right: 14px !important;

}
.nav_contact_padding{
  padding-left: 14px !important;
    padding-right: 0px !important;

}
.member-section .shape {
  width: 400px;
  height: 400px;
  right: -150px;
  border-radius: 80px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.member-section .shape {
  background: #e12a31;
  opacity: .15;
  position: absolute;
}
.become-member{
  margin-top: 10px;
  text-decoration: none;
  color: var(--gray);
  font-weight: 400;
  height: 22px;
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}
.become-member:hover{
  color: #515152;
}
/* slider */
/* .carousel-item {
  height: 720px;
}
.carousel-item img {
  height: 720px;
} */
/* Member Counter */
.member-counter .card {
  height: 100px;
}
.member-counter .card span {
  color: var(--gray);
  font-size: 25px;
}
.member-counter .card p:nth-of-type(1) {
  color: var(--red);
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0;
}
.member-counter .card p:nth-of-type(2) {
  color: var(--gray);
  font-size: 13px;
  font-weight: bold;
}
/* Notice */

.notice_title{
  text-decoration: none;
  color: var(--red);
  font-weight: bold;
}
/* .notice_title:hover{
  color: #E12A31;
} */
.social-icon i {
  font-size: 15px !important;
}
.short-link a {
  font-size: 12px;
}
.top-nav a {
  margin-right: 10px !important;
}
.height-300{
  height: 300px;
}
.notice-div-one {
  border-top: 3px solid rgb(48, 48, 48) !important;
  border-bottom: 3px solid rgb(48, 48, 48);
}
.notice-div-two {
  border-bottom: 1px solid #e1e1e1;
}
.notice-div-one p,
.notice-div-one span {
  padding-top: 10px;
}
.notice-title {
  margin-top: 7px;
}
.notice-title p {
  color: var(--red);
  font-weight: bold;
}
.notice-time span {
  color: var(--gray) !important;
  font-weight: bold;
  margin-top: 2px;
  margin-right: 10px;
}
.notice-time p {
  color: var(--gray) !important;
  font-weight: bold;
}
.news-event-text {
  text-align: center;
  font-weight: bold;
}
.views-notice {
  text-align: center;
  margin-top: 10px;
}
.views-notice a {
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  background-color: var(--red);
  color: #fff;
  border-radius: 10px;
}

.views-notice a:hover {
  color: #fff;
}

.notice-blog .carousel {
  height: 380px;
}
.notice-blog .carousel-item img {
  height: 350px;
}
.notice div span:last-child {
  color: var(--blue);
}
.notice div:nth-of-type(2) span {
  color: var(--red);
  font-size: 16px;
}
.notice div:nth-of-type(2) p {
  font-size: 14px;
  margin-bottom: 4px !important;
}
/* Facilities */
.facilities-main {
  position: relative;
}
.facilities {
  position: relative;
  background-color: rgba(255, 255, 255, 0.418);
  backdrop-filter: blur(30px);
  z-index: 3;
}
.facilites-bg-shadow {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
  background-color: #5151524b;
  z-index: 2;
}
.facilitics-circle1 {
  position: absolute;
  width: 50px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--red);
  z-index: 2;
  animation: facilitics-circle1 20s infinite;
}
@keyframes facilitics-circle1 {
  0% {
    left: 0;
    top: 0;
  }
  20% {
    left: 10%;
    top: 1000px;
  }
  40% {
    left: 50%;
    top: 1000px;
  }
  60% {
    left: 85%;
    top: 300px;
  }
  80% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
.facilitics-circle2 {
  position: absolute;
  width: 50px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--red);
  z-index: 2;
  animation: facilitics-circle2 20s infinite;
}
@keyframes facilitics-circle2 {
  0% {
    right: 0;
    top: 10px;
  }
  20% {
    right: 10%;
    top: 300px;
  }
  40% {
    right: 50%;
    top: 10px;
  }
  60% {
    right: 85%;
    top: 300px;
  }
  80% {
    right: 0px;
    top: 10px;
  }
  100% {
    right: 0px;
    top: 10px;
  }
}
.facilitics-circle3 {
  position: absolute;
  width: 50px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--red);
  z-index: 2;
  animation: facilitics-circle3 20s infinite;
}
@keyframes facilitics-circle3 {
  0% {
    right: 10%;
    top: 20px;
  }
  20% {
    right: 20%;
    top: 1000px;
  }
  40% {
    right: 20%;
    top: 10px;
  }
  60% {
    right: 85%;
    top: 1000px;
  }
  80% {
    right: 0px;
    top: 10px;
  }
  100% {
    right: 10%;
    top: 10px;
  }
}
.gallery h4,
.member h4,
.facilities h4 {
  text-align: center;
  margin: 10px 0 50px 0;
  color: var(--red);
  font-weight: bold;
}
.facilities div img {
  max-width: 332px;
  /* border-radius: 10px; */
}
.facilities div p {
  margin-top: 5px;
  font-weight: 600;
  font-size: 24px;
}
.facilities div p::first-letter {
  color: var(--red);
  text-transform: uppercase;
}
/* member */
.border-member{
  border: solid;
  border-color: #ff0000;
  height: 99.9%;
  overflow: hidden;
}
.memeber-card{
  height: 325px;
}
.member div p {
  margin-top: 5px;
  font-weight: 600;
}
.member div p::first-letter {
  /* color: var(--red); */
  text-transform: uppercase;
}
.member {
  text-align: center;
  padding-top: 50px;
}
.member img {
  /* border-radius: 30px; */
  max-width: 200px;
}
.member p:nth-of-type(1) {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
.member p:nth-of-type(2) {
  /* color: var(--red); */
  margin-bottom: 2px;
  font-size: 13px;
}
.member p:nth-of-type(3) {
  /* color: var(--red); */
  font-size: 13px;
}
.social-icon .bi-facebook,
.member i:nth-of-type(1) {
  color: #3b5998;
  font-size: 20px !important;
  margin: 10px;
}
.social-icon .bi-twitter,
.member i:nth-of-type(2) {
  color: #00acee;
  font-size: 20px !important;
  margin: 10px;
}
.social-icon .bi-linkedin,
.member i:nth-of-type(3) {
  color: #0072b1;
  font-size: 20px !important;
  margin: 10px;
}
.social-icon .bi-youtube,
.member i:nth-of-type(4) {
  color: #ff0000;
  font-size: 20px !important;
  margin: 10px;
}
.scicon .bi-youtube{
  color: #ff0000;
  font-size: 15px;
  margin-right: 40px;
  padding-top: 10px;
  
}
.scicon .bi-linkedin{
  color: #0072b1;
  font-size: 15px;
  margin: 10px;
  
}
.scicon .bi-twitter{
  color: #0072b1;
  font-size: 15px;
  margin-right: 5px;
  padding-top: 10px;
  
}
.scicon .bi-facebook{
  color: #3b5998;
  font-size: 15px;
  margin: 10px;
  
}
/* member */
.memberdiv {
  position: relative;
}
.member-background {
  position: relative;
  background-color: rgba(255, 255, 255, 0.527);
  backdrop-filter: blur(30px);
  z-index: 3;
}
/* gallery */
.gallery {
  position: relative;
}
.galler-background {
  position: relative;
  background-color: rgba(255, 255, 255, 0.329);
  backdrop-filter: blur(30px);
  z-index: 3;
}
.gallery .card {
  background-color: #fff;
  backdrop-filter: blur(100px);
  border: none !important;
}
.gallery .card img {
  /* border: 5px solid rgb(243, 240, 240);
  border-radius: 15px; */
  max-height: 200px;
}
.gallery .card .heading {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  /* height: 50px; */
  opacity: 0.8;
  background-color: #fff;
  /*border-radius: 0 0 20px 20px;*/
  overflow: hidden;
}
.gallery .card .heading h4 {
  color: var(--red);
  font-size: 1.3vw;
  margin: auto;
  padding: 5px;
}
/* member reg {this secition chanage on 17 january} */
.member-inner div:nth-of-type(1) p {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 4px solid var(--red) !important;
}
.member-inner div:nth-of-type(1) ul li {
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.member-inner div:nth-of-type(2) p {
  text-align: center;
  height: 300px;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-inner div:nth-of-type(2) .theme-color {
  color: var(--red);
}

.member-inner div:nth-of-type(3) {
  position: relative;
  text-align: center;
  height: 300px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.member-inner div:nth-of-type(3) a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: var(--red);
  text-decoration: none;
  color: #fff;
}

/* support */
.support {
  background-color: var(--red);
  height: auto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
}
.support i {
  font-size: 40px;
  margin-right: 10px;
  /* margin-top: 30px; */
  /* margin: auto; */
}
.support p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* margin-top: 30px; */
  /* margin: auto; */
}
#support-number {
  font-size: 40px;
  
}
.support-border{
  border: solid;
  border-top: #FFF;
  border-bottom: #FFF;
  height: 60px;
}
/* footer */
footer {
  overflow: hidden;
}
.footer {
  position: relative;
  background-color: rgba(255, 255, 255, 0.527);
  backdrop-filter: blur(30px);
  z-index: 3;
}
.footer-circle1 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  left: -150px;
  bottom: -200px;
  background-color: var(--gray);
  z-index: 2;
}
.footer-circle2 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  right: -150px;
  bottom: -200px;
  background-color: var(--red);
  z-index: 2;
}
.footer-top-overlay {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  background-color: #e12a3060;
  z-index: 2;
}

footer .footer-logo {
  border-bottom: 1px solid var(--red);
  padding-top: 50px;
}
footer img {
  max-width: 300px;
  margin-bottom: 20px;
}
.footer-nav {
  margin-top: 50px;
}
.footer-nav h5 {
  font-weight: bold;
  
}
.contact {
  margin-top: 30px;
}
.contact i {
  margin-right: 20px;
}
.contact span {
  display: flex;
}
.social-icon i {
  margin-top: 40px;
  margin-right: 20px;
  font-size: 20px;
}
.payment-img p {
  font-weight: normal;
  margin-top: 10px;
  margin-right: 10px;
}
.payment-img img {
  margin-right: 10px;
  max-width: 50px;
}
.copyright {
  margin-top: 10px;
}
.developer {
  text-align: right;
}

/*576px  */

@media screen and (max-width: 768px) {
  /* <!-- Member Reg. --> */
  .member-reg .member-reg-backgroud {
    top: 0;
    right: 0;
    left: 0;
  }
  /* footer */
  .developer {
    text-align: center;
  }
  footer {
    text-align: center;
  }

  footer .payment-img {
    align-items: center;
    justify-content: center;
  }
  .carousel-item {
    height: auto;
  }
  .member .shadow{
    box-shadow: 0 0 0 rgba(255,255,255,.15)!important;
  }
  .navbar-nav{
    padding-left: 30px;
    background: #FFF;
    padding-top: 5px;
    width: 81%;
    overflow-y: auto;
    height: 100vh;
  }
  .navbar-collapse{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 4;
    background: rgba(18, 15, 15, 0.57);
    padding-top: 0px;
    padding-left: 0px;
    height: 100vh;
  }
  .home-menu-toggle{
    border-radius: 18px;
    border: 0.5px solid red;
    color: red;
    background: #FFF;
  }
}

  .owl-controls{
    display: none !important;
  }
/*1200px  */

@media screen and (max-width: 1200px) {
  .mobile-device,
  #scroll-hide1 {
    display: none;
  }
  .mobile-device-icon {
    display: block;
  }
}

.facilities-main .bubble1 {
  width: 100px;
  height: 100px;
  left: 50px;
  -webkit-animation: circle 9s linear infinite;
  animation: circle 9s linear infinite
}
.facilities-main .bubble1,
.facilities-main .bubble2 {
  background: #e12a31;
  opacity: .15;
  position: absolute;
  border-radius: 50%
}
.facilities-main .bubble2 {
  width: 50px;
  height: 50px;
  right: 25%;
  top: 20%;
  -webkit-animation: circle 12s linear infinite;
  animation: circle 12s linear infinite
}
.facilities-main .bubble3 {
  width: 100px;
  height: 100px;
  left: 30%;
  top: 50%;
  -webkit-animation: circle 16s linear infinite;
  animation: circle 16s linear infinite
}
.facilities-main .bubble3,
.facilities-main .bubble4 {
  background: #e12a31;
  opacity: .15;
  position: absolute;
  border-radius: 50%
}
.facilities-main .bubble4 {
  width: 20px;
  height: 20px;
  right: 50%;
  top: 15%;
  -webkit-animation: circle 18s linear infinite;
  animation: circle 18s linear infinite
}
.facilities-main .bubble5 {
  width: 50px;
  height: 50px;
  left: 60%;
  top: 65%;
  border-radius: 50%;
  -webkit-animation: circle 16s linear infinite;
  animation: circle 16s linear infinite
}
.facilities-main .bubble5{
  background: #e12a31;
  opacity: .15;
  position: absolute
}


.facilities-main {
  /*padding: 4rem 0;*/
  background: hsla(0, 0%, 95.7%, .68)
}
.facilities-heading {
  position: absolute;
  bottom: 0px;
  /* height: 50px; */
  opacity: 0.8;
  background-color: #fff;
  /*border-radius: 0 0 20px 20px;*/
  overflow: hidden;
  width: 332px;
  font-size: 14px;
}
.facilities-heading h4 {
  font-size: 22px;
  margin: auto;
  padding: 5px;
}
.facilities-main .member-section {
  position: relative;
  overflow: hidden;
  
}
figure{
  overflow: hidden;
  margin: 0;
}
.zoom {
  transition: transform .8s; /* Animation */
  margin: 0 auto;
  overflow: hidden;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@-webkit-keyframes move {
  0% {
      left: 0;
      opacity: 0
  }
  5% {
      opacity: 0
  }
  48% {
      opacity: .2
  }
  80% {
      opacity: 0
  }
  to {
      left: 82%
  }
}
@keyframes move {
  0% {
      left: 0;
      opacity: 0
  }
  5% {
      opacity: 0
  }
  48% {
      opacity: .2
  }
  80% {
      opacity: 0
  }
  to {
      left: 82%
  }
}
@-webkit-keyframes bubble1 {
  0% {
      height: 70px;
      -webkit-transform: translateY(60px);
      transform: translateY(60px)
  }
  to {
      height: 100px;
      -webkit-transform: translate(0);
      transform: translate(0)
  }
}
@keyframes bubble1 {
  0% {
      height: 70px;
      -webkit-transform: translateY(60px);
      transform: translateY(60px)
  }
  to {
      height: 100px;
      -webkit-transform: translate(0);
      transform: translate(0)
  }
}
@-webkit-keyframes bubble2 {
  0% {
      height: 30px;
      -webkit-transform: translateY(60px);
      transform: translateY(60px)
  }
  to {
      height: 50px;
      -webkit-transform: translate(0);
      transform: translate(0)
  }
}
@keyframes bubble2 {
  0% {
      height: 30px;
      -webkit-transform: translateY(60px);
      transform: translateY(60px)
  }
  to {
      height: 50px;
      -webkit-transform: translate(0);
      transform: translate(0)
  }
}
@-webkit-keyframes bubble3 {
  0% {
      -webkit-transform: translateY(60px);
      transform: translateY(60px)
  }
  to {
      -webkit-transform: translate(0);
      transform: translate(0)
  }
}
@keyframes bubble3 {
  0% {
      -webkit-transform: translateY(60px);
      transform: translateY(60px)
  }
  to {
      -webkit-transform: translate(0);
      transform: translate(0)
  }
}
@-webkit-keyframes circle {
  0% {
      -webkit-transform: rotate(0deg) translate(-165px) rotate(0deg);
      transform: rotate(0deg) translate(-165px) rotate(0deg)
  }
  to {
      -webkit-transform: rotate(1turn) translate(-165px) rotate(-1turn);
      transform: rotate(1turn) translate(-165px) rotate(-1turn)
  }
}
@keyframes circle {
  0% {
      -webkit-transform: rotate(0deg) translate(-165px) rotate(0deg);
      transform: rotate(0deg) translate(-165px) rotate(0deg)
  }
  to {
      -webkit-transform: rotate(1turn) translate(-165px) rotate(-1turn);
      transform: rotate(1turn) translate(-165px) rotate(-1turn)
  }
}